<main>
  <section class="form-section">
    <img src="#" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button class="btn-primary" type="button" (click)="onSubmit()" [disabled]="disablePrimaryBtn">
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="btn-secondary" type="button" (click)="onNavigate()">
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>
  <section class="main-section">
    <h1>You Should, MoveIt!</h1>
    <img src="#" />
  </section>
</main>
