<app-layout-padrao
    title="Login into your account"
    primaryBtnText="Entrar"
    secondaryBtnText="Cadastrar-se"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-primeiro-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="administrador@gmail.com"
        >
            <img src="#"/>
        </app-primeiro-input>
        <app-primeiro-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Your Password"
        >
        <img src="#"/>
    </app-primeiro-input>
    </form>
</app-layout-padrao>
