<app-layout-padrao
  title="Sign up and start today!"
  primaryBtnText="Cadastrar"
  secondaryBtnText="Já tenho conta"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primeiro-input
      formControlName="nome"
      inputName="nome"
      type="text"
      label="Seu nome"
      placeholder="Ex: João Silva"
    >
      <img src="#" />
    </app-primeiro-input>

    <app-primeiro-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="seu@email.com"
    >
      <img src="#" />
    </app-primeiro-input>

    <app-primeiro-input
      formControlName="senha"
      inputName="senha"
      type="password"
      label="Senha"
      placeholder="Mínimo 6 caracteres"
    >
      <img src="#" />
    </app-primeiro-input>

    <app-primeiro-input
      formControlName="confSenha"
      inputName="confSenha"
      type="password"
      label="Confirmar senha"
      placeholder="Repita a senha"
    >
      <img src="#" />
    </app-primeiro-input>
  </form>
</app-layout-padrao>
