<app-layout-padrao
  title="Cadastrar-se e comece agora!"
  subtitle="Preencha com seus dados"
  redirect="Já possui uma conta?"
  primaryBtnText="Cadastrar"
  secondaryBtnText="Fazer login"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primeiro-input
      formControlName="nome"
      inputName="nome"
      type="text"
      label="Seu nome"
      placeholder="Ex: João Silva"
    >
      <img src="img/user.png" alt="usuario" />
    </app-primeiro-input>

    <app-primeiro-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="seu@email.com"
    >
      <img src="img/e-mail.png" alt="email" class="img-email" />
    </app-primeiro-input>

    <app-primeiro-input
      formControlName="senha"
      inputName="senha"
      type="password"
      label="Senha"
      placeholder="Mínimo 6 caracteres"
    >
      <img src="img/trancar.png" alt="senha" />
    </app-primeiro-input>

    <app-primeiro-input
      formControlName="confSenha"
      inputName="confSenha"
      type="password"
      label="Confirmar senha"
      placeholder="Repita sua senha"
    >
      <img src="img/trancar.png" alt="senha" />
    </app-primeiro-input>
  </form>
</app-layout-padrao>
