<app-header-padrao></app-header-padrao>
<section>
  <div class="container-header-main-content">
    <div class="acoes-tool-bar">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>nome do aluno</mat-label>
          <input type="tel" matInput placeholder="aluno(a)"
          [formControl]="nomeFilter" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
      <button
        mat-flat-button
        class="btn-success"
        aria-label="Adicionar Aluno"
        (click)="addAluno()"
      >
        Adicionar
      </button>
    </div>
  </div>
</section>
<section>
  <div class="mat-elevation-z8" *ngIf="alunos | async as alunos">
    <app-alunos-lista
      [alunos]="alunos.alunos"
      (edit)="editAluno($event)"
      (delete)="deleteAluno($event)"
    ></app-alunos-lista>

    <mat-paginator
      showFirstLastButtons
      [length]="alunos.totalElements"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="refresh($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
<router-outlet />
