@use "../../../app.variaveis.scss" as *;

.acoes-tool-bar {
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem;
}

.btn-success {
  background-color: $buttons-add-success-color !important;
}

.input-search {
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem;
}
