$primary-color: #ed1261;
$text-color: #555555;
$secondary-color: #ffc800;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;

$back-ground-side-tool-bar: #000000;
$text-main-color: #ffffff;
$buttons-add-success-color: #288431;

$primary: #ed1261;
$primary-dark: #ffc800;
$error: #f72585;
$text: #2b2d42;
$gray-light: #f8f9fa;
$gray-medium: #e9ecef;
