<div class="table-container">
  <div class="thead-wrapper">
    <table
      class="custom-table thead-table"
      aria-label="Cabeçalho da tabela de alunos"
    >
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>CPF</th>
          <th>Data de Nascimento</th>
          <th>Contato</th>
          <th>Gênero</th>
          <th>Ações</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tbody-wrapper">
    <table
      class="custom-table tbody-table"
      aria-label="Corpo da tabela de alunos"
    >
      <tbody>
        <tr *ngFor="let aluno of alunos; let i = index">
          <td>{{ aluno.nome}}</td>
          <td>{{ aluno.email }}</td>
          <td>{{ aluno.cpf | cpfPipe}}</td>
          <td>{{ aluno.dataNascimento | date: 'dd/MM/yyyy' }}</td>
          <td>{{ aluno.contato | contatoPipe }}</td>
          <td>{{ aluno.genero }}</td>
          <td>
            <div
              class="actions-dropdown"
              [class.open]="openedDropdownIndex === i"
            >
              <button
                class="actions-button"
                (click)="toggleDropdown(i)"
                aria-label="Abrir menu de ações"
              >
                ⋮
              </button>
              <ul
                *ngIf="openedDropdownIndex === i"
                class="actions-menu show"
                role="menu"
              >
                <li role="menuitem">
                  <button (click)="editAluno(aluno)">Editar</button>
                </li>
                <li role="menuitem">
                  <button (click)="deleteAluno(aluno)">Deletar</button>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
