<section>
  <div class="container-header-main-content">
    <div class="acoes-tool-bar">
      <form class="example-form" (submit)="$event.preventDefault()">
        <mat-form-field class="example-full-width">
          <mat-label>Nome do aluno</mat-label>
          <input
            matInput
            type="text"
            placeholder="aluno(a)"
            [formControl]="searchControl"
            autocomplete="off"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>
</section>

<section>
  <div class="mat-elevation-z8" *ngIf="frequencias | async as frequencias">
    <app-lista-frequencia [frequencias]="frequencias.alunos"></app-lista-frequencia>

    <mat-paginator
      showFirstLastButtons
      [length]="frequencias.totalElements"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="refresh($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>

<router-outlet></router-outlet>
