<aside class="sidebar">
  <div class="logo-side-bar">
    <img src="img/logo-header.png" alt="Admin" />
  </div>

  <div class="profile">
    <span><strong>Bem-vindo</strong> <br> {{ nomeAdmin }}</span>
  </div>

  <div class="sidebar-section">
    <small>Dashboards</small>
    <a href="/alunos">
      <img src="img/side-bar-casa.png" alt="Home" />
      <span>Home</span>
    </a>
    <a href="alunos/novo">
      <img src="img/side-bar-cadastro.png" alt="Cadastro" />
      <span>Cadastro</span>
    </a>
    <a href="/alunos">
      <img src="img/side-bar-alunos.png" alt="Alunos" />
      <span>Alunos</span>
    </a>
  </div>

  <div class="sidebar-section">
    <small>Relatórios</small>
    <a href="/frequencias">
      <img src="img/side-bar-presenca.png" alt="Relatório" />
      <span>Presenças</span>
    </a>
  </div>

  <div class="sidebar-footer">

  </div>
</aside>
