<aside class="sidebar">

  <div class="profile">
    <span><strong>Bem-vindo</strong> <br> {{ nomeAdmin }}</span>
  </div>

  <div class="logo-side-bar">
  </div>

  <div class="sidebar-section">
    <small>Dashboards</small>
    <a href="/alunos">
      <img src="img/side-bar-casa.png" alt="Home" />
      <span>Home</span>
    </a>
  </div>

  <div class="sidebar-section">
    <small>Cadastro</small>
    <input type="checkbox" id="toggle-cadastro" class="toggle-cadastro" hidden />
    <label for="toggle-cadastro" class="dropdown-toggle">
      <img src="img/side-bar-cadastro.png" alt="Cadastro" />
      <span>Cadastro</span>
    </label>
    <div class="dropdown-menu">
      <a href="/alunos/novo">Alunos</a>
      <a href="/professores/novo">Professores</a>
    </div>
  </div>

  <div class="sidebar-section">
    <small>Gestão</small>
    <a href="/alunos">
      <img src="img/side-bar-alunos.png" alt="Alunos" />
      <span>Alunos</span>
    </a>
    <a href="/professores">
      <img src="img/side-bar-professores.png" alt="Professores" />
      <span>Professores</span>
    </a>
  </div>

  <div class="sidebar-section">
    <small>Relatórios</small>
    <a href="/frequencias">
      <img src="img/side-bar-presenca.png" alt="Presenças" />
      <span>Presenças</span>
    </a>
  </div>

  <div class="sidebar-footer">
  </div>
</aside>
