.sidebar {
  width: 15rem;
  height: 100dvh;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: relative;
}

.logo-side-bar img {
  width: 10.625rem;
  height: 10.625rem;
}

.logo-side-bar {
  padding-left: 2rem;
}

.sidebar .profile {
  text-align: center;
}

.sidebar .profile span {
  font-size: 1.2rem;
  line-height: 1.2;
  color: white;
}

.sidebar .profile strong {
  font-size: 1.2rem;
}

.sidebar .sidebar-section {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1rem;
}

.sidebar .sidebar-section small {
  color: #999;
  margin-left: 0.3125rem;
  margin-bottom: 0.3125rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.sidebar .sidebar-section a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.75rem;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.sidebar .sidebar-section a img {
  width: 1.125rem;
  height: 1.125rem;
  transition: filter 0.3s;
}

.sidebar .sidebar-section a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar .sidebar-section a.active {
  background-color: white;
  color: black;
  font-weight: 600;
}

.sidebar .sidebar-section a.active img {
  filter: none;
}

.sidebar .sidebar-footer {
  margin-top: auto;
  text-align: center;
}

.sidebar .sidebar-footer a img {
  width: 1.375rem;
  height: 1.375rem;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.toggle-cadastro:checked + .dropdown-toggle + .dropdown-menu {
  display: flex;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: white;
  font-size: 0.85rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 100%;
  position: relative;
}

.dropdown-toggle img {
  width: 1.1rem;
  height: 1.1rem;
}

.dropdown-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  margin-left: 2.5rem;
  gap: 0.3rem;
}

.dropdown-menu a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.4rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-toggle::after {
  content: "";
  border: solid white;
  border-width: 0 0.1rem 0.1rem 0;
  display: inline-block;
  padding: 0.2rem;
  margin-left: auto;
  transform: rotate(-45deg);
  transition: transform 0.3s;
}

.toggle-cadastro:checked + .dropdown-toggle::after {
  transform: rotate(45deg);
}

.toggle-cadastro:checked + .dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.2);
}
