<div class="table-container">
  <div class="thead-wrapper">
    <table
      class="custom-table thead-table"
      aria-label="Cabeçalho da tabela de alunos"
    >
      <thead>
        <tr>
          <th>Nome</th>
          <th>Presenças</th>
          <th>Registrar</th>
          <th>Data</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tbody-wrapper">
    <table class="custom-table tbody-table" aria-label="Corpo da tabela de frequências">
      <tbody>
        <tr *ngFor="let frequencia of frequencias; let i = index">
          <td>
            {{ frequencia.nome }}<br />
            <small>{{ frequencia.email }}</small>
          </td>
          <td>{{ frequencia.frequencia }}</td>
          <td>
            <mat-checkbox
              [checked]="frequencia.presenteHoje"
              (change)="onTogglePresenca(frequencia)"
            ></mat-checkbox>
          </td>
          <td><span style="margin-left: 8px">{{ hoje | date: 'dd/MM/yyyy' }}</span></td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
