<table mat-table [dataSource]="frequencias" class="mat-elevation-z8">
  <ng-container matColumnDef="aluno">
    <th mat-header-cell *matHeaderCellDef>Aluno</th>
    <td mat-cell *matCellDef="let frequencia">
      {{ frequencia.nome }}<br />
      <small>{{ frequencia.email }}</small>
    </td>
  </ng-container>

  <ng-container matColumnDef="frequencia">
    <th mat-header-cell *matHeaderCellDef>Frequência</th>
    <td mat-cell *matCellDef="let frequencia">
      {{ frequencia.frequencia }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Registrar</th>
    <td mat-cell *matCellDef="let frequencia">
      <mat-checkbox
  [checked]="frequencia.presenteHoje"
  (change)="onTogglePresenca(frequencia)"
>
</mat-checkbox>
<span style="margin-left: 8px;">{{ hoje }}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<router-outlet />
